In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.feature_selection import RFE

In [35]:
#col_names = ['age','prescription','astigmatic','tear_rate','lenses']
col_names = ['mcv', 'alkphos', 'sgpt', 'sgot', 'gammagt', 'drinks', 'selector']
dataset = pd.read_csv("../Datasets/bupa.tab", sep='\t',header=None, names=col_names)

In [36]:
dataset

     mcv  alkphos  sgpt  sgot  gammagt  drinks  selector
0    mcv  alkphos  sgpt  sgot  gammagt  drinks  selector
1      c        c     c     c        c       c         d
2    NaN      NaN   NaN   NaN      NaN     NaN     class
3     85       92    45    27       31     0.0         1
4     85       64    59    32       23     0.0         2
..   ...      ...   ...   ...      ...     ...       ...
343   99       75    26    24       41    12.0         1
344   96       69    53    43      203    12.0         2
345   98       77    55    35       89    15.0         1
346   91       68    27    26       14    16.0         1
347   98       99    57    45       65    20.0         1

[348 rows x 7 columns]

In [37]:
from sklearn.preprocessing import LabelEncoder

In [39]:
X = dataset.iloc[3:, :-1].values
y = dataset.iloc[3:, 6].values

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
logmodel = LogisticRegression()
logmodel = RFE(logmodel, 5, step = 1)
logmodel = logmodel.fit(X_train, y_train)

/home/dinithiw/anaconda3/envs/bioinfo/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/dinithiw/anaconda3/envs/bioinfo/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [43]:
y_pred = logmodel.predict(X_test)

In [44]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6826923076923077

In [45]:
logmodel.ranking_

array([2, 1, 1, 1, 1, 1])

COMMENTS:

Orange3 gives an accuracy of 78% on the test data, whereas Scikit Learn library it gives an accuracy of 68.2%.

The most significant features of the dataset are:

    1. alkphos
    2. sgpt
    3. sgot
    4. gammagt
    5. drinks