CN2 Rule Inducer

In [1]:
import Orange

In [2]:
data = Orange.data.Table('titanic')
learner = Orange.classification.CN2Learner()
classifier = learner(data)

In [3]:
data

[[first, adult, male | yes],
 [first, adult, male | yes],
 [first, adult, male | yes],
 [first, adult, male | yes],
 [first, adult, male | yes],
 ...
]

In [5]:
for rule in classifier.rule_list:
    print(rule, rule.curr_class_dist.tolist())

IF sex==female AND status==first AND age!=adult THEN survived=yes  [0, 1]
IF sex==female AND status!=third AND age!=adult THEN survived=yes  [0, 13]
IF sex!=female AND status==second AND age!=adult THEN survived=yes  [0, 11]
IF sex==female AND status==first THEN survived=yes  [4, 140]
IF status!=third AND age!=adult THEN survived=yes  [0, 5]
IF sex!=female AND status==second THEN survived=no  [154, 14]
IF status==crew AND sex!=male THEN survived=yes  [3, 20]
IF status==second THEN survived=yes  [13, 80]
IF sex!=female AND status==third AND age!=child THEN survived=no  [387, 75]
IF status==crew THEN survived=no  [670, 192]
IF sex!=female AND status!=first THEN survived=no  [35, 13]
IF status==first THEN survived=no  [118, 57]
IF age!=adult THEN survived=no  [17, 14]
IF status==third THEN survived=no  [89, 76]
IF TRUE THEN survived=no  [1490, 711]